.hero-wrapper .single-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 60vh;
  background-color: #298bf0 !important;
}

.hero-wrapper .single-hero .hero-bg {
  position: relative;
  top: 0 !important;
  left: 0 !important;
  background: #4a4a8e;
  background-color: #298bf0 !important;
  min-height: unset;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-wrapper .single-hero .hero-bg .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 8fr;
      grid-template-columns: 4fr 8fr;
}

@media screen and (max-width: 800px) {
  .hero-wrapper .single-hero .hero-bg .row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.hero-wrapper .single-hero .results {
  padding: 10px 30px;
}

@media screen and (max-width: 740px) {
  .hero-wrapper .single-hero .results {
    margin-top: 80px;
    padding: 0 20px;
    margin-bottom: 30px;
  }
  .hero-wrapper .single-hero .results .result:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .hero-wrapper .single-hero .results .result:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.hero-wrapper .single-hero .results .result {
  background-color: white;
  display: -ms-grid;
  display: grid;
  padding: 0 15px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.hero-wrapper .single-hero .results .result:nth-child(even) {
  background-color: #f6fafd;
}

.hero-wrapper .single-hero .results .result ul {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero-wrapper .single-hero .results .result ul li {
  margin-left: 0 !important;
}

.hero-wrapper .single-hero .results .result ul li i {
  text-indent: 0;
  margin-right: 1rem;
}

.hero-wrapper .single-hero .results .result .domain {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero-wrapper .single-hero .results .result .price {
  font-weight: 600;
  -ms-grid-column-align: right;
      justify-self: right;
  margin-right: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero-wrapper .single-hero .results .result .cart-add {
  padding: 5px 10px;
  -webkit-transition: background-color 250ms ease-out;
  transition: background-color 250ms ease-out;
}

.hero-wrapper .single-hero .results .result .cart-add:hover {
  background-color: #2d76eb;
  color: white;
}

header.sticky {
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
}

header.sticky + section {
  padding-top: 112px;
}

#service {
  background: none;
  color: inherit !important;
}

#service.service-three .section-title h2,
#service.service-three .section-title p {
  color: inherit !important;
}

#service .service-box-2 {
  margin-top: 100px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(20, 27, 201, 0.05);
          box-shadow: 0px 0px 10px 0px rgba(20, 27, 201, 0.05);
  -webkit-transition: -webkit-box-shadow 300ms ease-out;
  transition: -webkit-box-shadow 300ms ease-out;
  transition: box-shadow 300ms ease-out;
  transition: box-shadow 300ms ease-out, -webkit-box-shadow 300ms ease-out;
  background: white;
  border-radius: 5px;
}

#service .service-box-2:hover {
  background: white;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(20, 27, 201, 0.25);
          box-shadow: 0px 0px 25px 0px rgba(20, 27, 201, 0.25);
}

#service .service-box-2.servicev3 {
  margin-top: 0;
  padding: 15px;
}

@media screen and (max-width: 740px) {
  #service .service-box-2.servicev3 {
    margin-bottom: 30px;
  }
}

#service .service-box-2.servicev3 h4,
#service .service-box-2.servicev3 p {
  color: #212529 !important;
  -webkit-transition: color 250ms ease-out;
  transition: color 250ms ease-out;
}

#service .service-icon {
  -webkit-transform: none;
          transform: none;
  margin-top: 15px;
  margin-bottom: 30px;
}

#service .service-icon img {
  max-height: 150px;
}

#service .service-icon i {
  font-size: 4rem;
}

#mainfeatures.blue {
  background-color: #298bef;
}

#mainfeatures.blue .container {
  color: white;
}

#mainfeatures.blue .container span,
#mainfeatures.blue .container p {
  color: white;
}

#mainfeatures,
#whyus {
  background-color: #298bf0;
}

#mainfeatures section,
#whyus section {
  margin-bottom: 120px;
}

#mainfeatures section:last-of-type,
#whyus section:last-of-type {
  margin-bottom: 0px;
}

#mainfeatures .container,
#whyus .container {
  padding: 120px 30px;
}

#mainfeatures .container p,
#mainfeatures .container h1,
#mainfeatures .container h2,
#mainfeatures .container h3,
#mainfeatures .container h4,
#mainfeatures .container h5,
#mainfeatures .container h6,
#mainfeatures .container span,
#mainfeatures .container ul,
#whyus .container p,
#whyus .container h1,
#whyus .container h2,
#whyus .container h3,
#whyus .container h4,
#whyus .container h5,
#whyus .container h6,
#whyus .container span,
#whyus .container ul {
  color: white;
}

#mainfeatures .container > p,
#whyus .container > p {
  margin-bottom: 4rem;
}

#mainfeatures .special-featured-list,
#whyus .special-featured-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

@media screen and (max-width: 740px) {
  #mainfeatures .special-featured-list,
  #whyus .special-featured-list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  #mainfeatures .special-featured-list,
  #whyus .special-featured-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#mainfeatures .special-featured-list .single-special-feature,
#whyus .special-featured-list .single-special-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainfeatures .special-featured-list .single-special-feature .special-icon,
#whyus .special-featured-list .single-special-feature .special-icon {
  margin-bottom: 30px;
  background-color: white;
  color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainfeatures .special-featured-list .single-special-feature .sf-text,
#whyus .special-featured-list .single-special-feature .sf-text {
  text-align: center;
}

#mainfeatures .special-featured-list .single-special-feature .sf-text span,
#whyus .special-featured-list .single-special-feature .sf-text span {
  font-weight: 600;
}

#mainfeatures .special-featured-list .single-special-feature .sf-text p,
#whyus .special-featured-list .single-special-feature .sf-text p {
  margin-top: .6rem;
  font-size: 10pt;
}

#mainfeatures .blurbs i,
#whyus .blurbs i {
  font-size: 13rem;
  margin-bottom: 10vh;
  margin-top: 15px;
}

#pricing {
  background-image: url("../../Assets/images/bg-prefooter.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  position: relative;
}

#pricing:before {
  display: block;
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  height: 600px;
  background-image: url("../../Assets/images/bg-prefooter-flipped.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

#pricing .package-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#pricing .package-control .discount {
  position: absolute;
  white-space: nowrap;
  left: calc(50% + 225px);
  top: 50%;
  color: black;
  font-weight: 700;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #efeff3;
  padding: 5px;
  padding-left: 2px;
}

@media screen and (max-width: 740px) {
  #pricing .package-control .discount {
    display: none;
  }
}

#pricing .package-control .discount:after {
  display: block;
  content: "";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: calc(-.5rem - 2.5px);
  width: calc(1rem + 5px);
  height: calc(1rem + 5px);
  background-color: #efeff3;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

#pricing .container {
  padding: 120px 15px;
}

#pricing .package-name h3 {
  color: #212529;
}

#pricing .single-package .package-btn a {
  background-image: unset;
  background-color: #298bf0;
  border-radius: 5px;
}

#pricing .single-package .package-features-price {
  padding: 20px;
  padding-bottom: 0;
}

#pricing .single-package .package-features-price .price {
  border-radius: 0;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 50px;
  height: 80px;
  line-height: 100px;
}

#pricing .single-package .package-features-price .price span {
  height: 60px;
}
/*# sourceMappingURL=Home.css.map */