body {
    position: relative;
    background-color: #f6fafd !important;
}

:root {
    --fa-primary-color: #2d76eb;
    --fa-secondary-color: #1f7fe2;
}

#root>div>.section-title-container {
    margin: 10vh;
}

.fa-invert {
    --fa-primary-color: #d5deec;
    --fa-secondary-color: #c8d4e0;
}

header {
    background-color: transparent;
    //background: linear-gradient(90deg, rgba(74, 74, 142, 1) 0%, rgba(82, 82, 195, 1) 100%);
    background-color: #298bf0;
    color: white;
    a {
        color: rgba(160, 160, 150, 1);
        &:hover {
            color: white;
        }
    }
}

header.sticky {
    z-index: 1000;
    background-color: white;
    color: rgb(33, 37, 41);
    padding: 0;
    .container a {
        color: rgb(33, 37, 41);
        &:hover {
            color: rgb(64, 69, 75);
        }
    }
    .logo {
        filter: brightness(.5);
    }
}

.button,
button {
    border-radius: 3px;
    transition: background-color, box-shadow 200ms ease-out;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .05);
    &.cta:hover {
        box-shadow: 0 3px 10px 5px rgba(0, 0, 0, .1);
        background-color: #36485e;
    }
    &.li {
        background-color: transparent;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, .05);
    }
}

header .container {
    padding: 30px;
    margin-left: -30px;
    margin-right: -30px;
    display: flex;
    align-items: center;
    a {
        color: white;
    }
    .logo {
        max-width: 200px;
    }
    .desktop-menu-con {
        display: flex;
        align-items: center;
        flex-grow: 1;
        .menu .menu-items {
            display: flex;
            padding-left: 15px;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 0;
            li {
                margin: 10px;
            }
            li.button.cta {
                a {
                    padding: 10px 20px;
                    text-decoration: none;
                    font-weight: 600;
                    color: white;
                    white-space: nowrap;
                    border-radius: 3px;
                    background-color: #5791ef;
                    box-shadow: 1px 1px 22px rgba(14, 21, 34, 0.19);
                    &:hover {
                        background-color: #6b9ef1;
                    }
                }
                &:last-of-type a {
                    background-color: #38d9c9;
                    &:hover {
                        background-color: #38cfd0;
                    }
                }
            }
        }
    }
    .mobile-menu {
        padding-left: 0;
        &.collapsing {
            height: unset;
            overflow: hidden;
            position: unset;
        }
        &.show,
        &.collapsing {
            position: fixed;
            top: 112px;
            right: 0;
            max-width: 300px;
            width: 100%;
            .nav-item {
                padding: 20px 30px;
                color: rgb(33, 37, 41);
                a {
                    color: black;
                }
                &:hover {
                    background-color: rgba(0, 0, 0, .05);
                    font-weight: 600;
                }
            }
            li.button.cta {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 15px;
                margin: 30px;
                margin-top: 15px;
                &:hover {
                    background-color: transparent;
                    box-shadow: none;
                }
                a {
                    display: flex;
                    justify-content: center;
                    padding: 10px 20px;
                    text-decoration: none;
                    font-weight: 600;
                    width: 100%;
                    color: white;
                    white-space: nowrap;
                    border-radius: 3px;
                    background-color: #29323d;
                    &:hover {
                        background-color: #496a8f;
                    }
                    &.button {
                        box-shadow: 0 0 0 0 rgba(0, 0, 0, .00);
                        &:hover {
                            box-shadow: 0 3px 10px 5px rgba(0, 0, 0, .15);
                        }
                    }
                }
            }
        }
        &.sticky.show {
            top: 100% !important;
        }
    }
    .navbar {
        span.fa-times {
            display: block;
        }
        span.fa-bars {
            display: none;
        }
        .collapsed {
            span.fa-bars {
                display: block;
            }
            span.fa-times {
                display: none;
            }
        }
        .navbar-toggler {
            background-color: white;
            &:focus {
                outline: none;
            }
        }
    }
    .buttonCon,
    .ctaCon {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.section-title>span {
    background-image: url('../Assets/images/span.png');
    background-size: contain;
}

#standalone-title {
    background-color: #2d76eb;
    color: white;
    padding: 120px 30px;
    display: flex;
    flex-direction: column;
    .theme-btn {
        margin: 10px;
        margin-top: 0;
        transition: 300ms background-color ease-out;
        background-color: white;
        color: #298bf0 !important;
        font-weight: 600;
        &:hover {
            text-decoration: none;
        }
    }
    h2 {
        color: white;
    }
}

.theme-btn {
    background-color: #298bf0;
    border-radius: 5px;
}

.package-control ul.nav.nav-pills {
    flex-wrap: nowrap;
    li a {
        font-weight: 600;
        box-sizing: border-box;
        &.active {
            //background-image: linear-gradient(-45deg, #fb0053 0%, #f85a29 100%);
            //background-image: -moz-linear-gradient(-45deg, #fb0053 0%, #f85a29 100%);
            //background-image: -webkit-linear-gradient(-45deg, #fb0053 0%, #f85a29 100%);
            //background-image: -ms-linear-gradient(-45deg, #fb0053 0%, #f85a29 100%);
            color: white;
            background-color: #298bf0;
        }
    }
}

footer {
    background-color: #1f7fe2;
    .footer-logo {
        p {
            //color: rgb(33, 37, 41);
            color: white;
        }
        a img {
            margin-left: -10px;
            max-width: 100%;
        }
    }
    .footer-bottom .container {
        grid-template-columns: 1fr 1fr;
        div .payment-support {
            margin-left: auto;
        }
    }
    .container {
        padding: 30px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: 30px;
        //color: #7c90a5;
        color: white;
        @media screen and (max-width: 740px) {
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (max-width: 399px) {
            grid-template-columns: 1fr;
            &>div {
                padding: 0;
            }
        }
        li a,
        .foo-wid-title h3 {
            //color: rgb(33, 37, 41);
            color: white;
        }
        h4 {
            text-transform: uppercase;
            margin-bottom: 1.5rem;
        }
        .col {
            display: flex;
            flex-direction: column;
        }
        .button {
            margin-bottom: 1rem;
            text-decoration: none;
            font-weight: 500;
            color: #7c90a5;
        }
    }
    .social-pages a {
        //color: rgb(33, 37, 41);
        color: white;
    }
    .copyright-info {
        display: flex;
        height: 100%;
        justify-content: flex-start;
        span {
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}

.row {
    box-sizing: border-box;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

header .container,
footer .container,
section .container {
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

section .container {
    display: flex;
    flex-direction: column;
}